@import "~typeface-roboto/index.css";
.disable-scrollbars {
  scrollbar-widht: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Chrome/Safari/Webkit */
  }
}
